$color--white: #FFFFFF;
$color--green--200: #C2E85D;
$color--green--500: #005857;
$color--green--800: #020706;
$color--green--900: #050C0B;


$font--small: 1.2rem;
$font--medium: 1.6rem;
$font--large: 2.4rem;

$spacing--small: 0.8rem;
$spacing--medium: 1.6rem;
$spacing--large: 2.4rem;
$spacing--xlarge: 3.2rem;

$border--radius: 2.4rem;

$layer--base: 10;
$layer--menu: 20;
$layer--alwaysOnTop: 50;