footer {
  position: relative;
  padding: $spacing--xlarge $spacing--large * 4;
  background-color: $color--green--900;
  z-index: $layer--alwaysOnTop;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    li {
      a {
        text-decoration: none;

        svg {
          width: 4.0rem;
          height: 4.0rem;
          fill: $color--white;
        }
      }

      & + li {
        margin-left: $spacing--small;

        svg {
          width: 3.5rem
        }
      }
    }
  }
}